.working{
    margin-top: 20px;
    font-style: italic;
}
.stories{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    overflow-y: scroll;
}
::-webkit-scrollbar{
    display: none;
}
.each::before{
    content: "• ";
}
.each{
    padding: 5px;
}