.app {
  color: var(--text-primary);
  width: 100%;
  height: 100vh; 
  height: calc(var(--vh, 1vh) * 100);
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  -webkit-tap-highlight-color: transparent;

  background-color: var(--background);
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='var(--text-primary)' fill-opacity='0.05' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
}
.topbar {
  position: absolute;
  top: 2%;
  width: 95%;
  display: flex;
  justify-content: space-between;
}
.topbar img {
  width: 25px;
  cursor: pointer;
}
button {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 1%;
  right: 1%;
  color: var(--text-primary);
  background-color: var(--background);
  border: 2px var(--text-primary) solid;
  border-radius: 20px;
  float: right;
  transition: all 0.5s;
  cursor: pointer;
  opacity: 0.8;
}
.boxes {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.box {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
#animation {
  margin-bottom: -15px;
}
.box p {
  margin-top: -10px;
}
.box img {
  width: 40px;
}

.box:hover {
  transform: scale(1.05, 1.05);
  transition: all 0.2s ease;
}
.infoCard {
  position: absolute;
  width: 50%;
  height: fit-content;
  padding: 20px;
  border-radius: 20px;
  background-color: var(--cards);
  animation: showSlowly 0.3s ease-out;
}
@keyframes showSlowly {
  0% {
    transform: scale(0.1);
  }
}
.hideButton {
  position: absolute;
  top: 3%;
  right: 2%;
  opacity: 0.8;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid var(--text-primary);
  cursor: pointer;
}
a {
  text-decoration: underline;
  color: var(--text-primary);
}
.snackbar {
  color: var(--text-primary);
  position: absolute;
  bottom: 10%;
  width: 200px;
  text-align: center;

  background-color: var(--cards);
  border-radius: 5px;
}
.animationStyle {
  position: relative;
  width: 100px;
  margin: 0;
  padding: 0;
}
.totalViews {
  font-size: 0.6rem;
  position: absolute;
  bottom: 3%;
  left: 3%;
  opacity: 0.8;
  animation: showSlowly 0.8s ease-out;
}
.totalStories {
  font-size: 0.6rem;
  position: absolute;
  bottom: 1%;
  left: 3%;
  opacity: 0.8;
  animation: showSlowly 0.8s ease-out;
}
@keyframes showSlowly {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 641px) {
  .infoCard {
    width: 80%;
  }
}
p{
  font-weight: 100;
}